<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form novalidate (ngSubmit)="login()" [formGroup]="userForm">
                        <h3 class="text-center text-info">{{'login.login' | translate}}</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">{{'login.uname' | translate}}:</label><br>
                            <input class="form-control" id="txtName" type="text" placeholder="{{'register.euname' | translate}}"
                                formControlName="username" [ngClass]="{
                            'is-invalid':
                            (userForm.get('username').touched || userForm.get('username').dirty) &&
                            !userForm.get('username').valid
                            }" />
                            <span class="invalid-feedback">
                                <span *ngIf="userForm.get('username').errors?.required">
                                    {{'register.peuname' | translate}}
                                </span>
                                <span *ngIf="userForm.get('username').errors?.minlength">
                                    {{'register.4uname' | translate}}    
                                </span>
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="password" class="text-info">{{'login.password' | translate}}:</label><br>
                            <input class="form-control" id="txtPwd" type="password" placeholder="{{'register.epwd' | translate}}"
                                formControlName="password" [ngClass]="{
                            'is-invalid':
                            (userForm.get('password').touched || userForm.get('password').dirty) &&
                            !userForm.get('password').valid
                            }" />
                            <span class="invalid-feedback">
                                <span *ngIf="userForm.get('password').errors?.required">
                                    {{'register.pepwd' | translate}}
                                </span>
                                <span *ngIf="userForm.get('password').errors?.minlength">
                                    {{'register.4pwd' | translate}}
                                </span>
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="submit"
                                [disabled]="!userForm.get('username').valid ||  !userForm.get('password').valid"
                                name="submit" class="btn btn-info btn-md" value="{{'login.submit' | translate}}">
                        </div>
                        <div id="register-link" class="text-right">
                            <a [routerLink]="['/register']" routerLinkActive='active' class="text-info">{{'login.reg' | translate}}
                                </a>
                        </div>
                        <span style="color: red;">
                            {{error}}
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>