<div style="margin:5%">
    <hr />
    <h2 style="text-align:center">{{title}} {{'checkout.check' | translate}} {{gtotal | currency:"INR"}}</h2>
    <hr />
    <form style="padding: 5%;border: 1px solid black;" novalidate [formGroup]="userForm">
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="inputEmail4">{{'checkout.salutation' | translate}}</label>
                <select id="salutation" class="form-control" formControlName="salutation">
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Miss.">Miss.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Dr.">Dr.</option>
                    <option value="Prof.">Prof.</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group col-md-5">
                <label for="name">{{'checkout.name' | translate}}</label>
                <input class="form-control" id="name" type="name" placeholder="{{'checkout.ename' | translate}} *" formControlName="name"
                    [ngClass]="{
                                    'is-invalid':
                                    (userForm.get('name').touched || userForm.get('name').dirty) &&
                                    !userForm.get('name').valid
                                    }" />
                <span class="invalid-feedback">
                    <span *ngIf="userForm.get('name').errors?.required">
                        {{'checkout.entername' | translate}}
                    </span>
                    <span *ngIf="userForm.get('name').errors?.minlength">
                        {{'checkout.name5' | translate}}
                    </span>
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">{{'checkout.phone' | translate}}</label>
                <input class="form-control" id="phone" type="phone" placeholder="{{'checkout.ephone' | translate}} *"
                    formControlName="phone" [ngClass]="{
                                'is-invalid':
                                (userForm.get('phone').touched || userForm.get('phone').dirty) &&
                                !userForm.get('phone').valid
                                }" />
                <span class="invalid-feedback">
                    <span *ngIf="userForm.get('phone').errors?.required">
                        {{'checkout.enterphone' | translate}}
                    </span>
                    <span *ngIf="userForm.get('phone').errors?.pattern">
                        {{'checkout.phonenumeric' | translate}}
                    </span>
                    <span *ngIf="userForm.get('phone').errors?.minlength || userForm.get('phone').errors?.maxlength">
                        {{'checkout.phone10' | translate}}
                    </span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">{{'checkout.address' | translate}}</label>
            <input class="form-control" id="address1" type="name" placeholder="{{'checkout.address1' | translate}} 1*"
                formControlName="address1" [ngClass]="{
        'is-invalid':
        (userForm.get('address1').touched || userForm.get('address1').dirty) &&
        !userForm.get('address1').valid
        }" />
            <span class="invalid-feedback">
                <span *ngIf="userForm.get('address1').errors?.required">
                    {{'checkout.eaddress' | translate}}
                </span>
                <span *ngIf="userForm.get('address1').errors?.minlength">
                    {{'checkout.address5' | translate}}
                </span>
            </span>
        </div>
        <div class="form-group">
            <label for="inputAddress2">{{'checkout.address' | translate}} 2</label>
            <input class="form-control" id="address2" type="name" placeholder="{{'checkout.address1' | translate}} 2 *"
                formControlName="address2" [ngClass]="{
        'is-invalid':
        (userForm.get('address2').touched || userForm.get('address2').dirty) &&
        !userForm.get('address2').valid
        }" />
            <span class="invalid-feedback">
                <span *ngIf="userForm.get('address2').errors?.required">
                    {{'checkout.eaddress' | translate}}
                </span>
                <span *ngIf="userForm.get('address2').errors?.minlength">
                    {{'checkout.address5' | translate}}
                </span>
            </span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">{{'checkout.city' | translate}}</label>
                <input class="form-control" id="city" type="text" placeholder="{{'checkout.city' | translate}} *" formControlName="city" [ngClass]="{
            'is-invalid':
            (userForm.get('city').touched || userForm.get('city').dirty) &&
            !userForm.get('city').valid
            }" />
                <span class="invalid-feedback">
                    <span *ngIf="userForm.get('city').errors?.required">
                        {{'checkout.ecity' | translate}}
                    </span>
                    <span *ngIf="userForm.get('city').errors?.minlength">
                        {{'checkout.city3' | translate}}
                    </span>
                </span>
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">{{'checkout.state' | translate}}</label>
                <select id="state" class="form-control" formControlName="state">
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">{{'checkout.pin' | translate}}</label>
                <input class="form-control" id="pin" type="pin" placeholder="{{'checkout.epin' | translate}} *" formControlName="pin"
                    [ngClass]="{
                                'is-invalid':
                                (userForm.get('pin').touched || userForm.get('pin').dirty) &&
                                !userForm.get('pin').valid
                                }" />
                <span class="invalid-feedback">
                    <span *ngIf="userForm.get('pin').errors?.required">
                        {{'checkout.epin' | translate}}
                    </span>
                    <span *ngIf="userForm.get('pin').errors?.pattern">
                        {{'checkout.pnumeric' | translate}}
                    </span>
                    <span *ngIf="userForm.get('pin').errors?.minlength || userForm.get('pin').errors?.maxlength">
                        {{'checkout.pin6' | translate}}
                    </span>

                </span>
            </div>
        </div>
        <button  class="btn btn-primary"
            (click)="gotoProducts()">{{'checkout.ppage' | translate}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary"
            (click)="placeOrder()">{{'checkout.checkout' | translate}}</button>
        <br/>
        <br/>
            <h5>{{success}}</h5>
            <h5>{{name}}</h5>
            <h5>{{address}}</h5>
            <h5>{{state}}</h5>
            <h5>{{phone}}</h5>

    </form>

</div>