<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>{{'register.welcome' | translate}}</h3>
            <p>{{'register.30s' | translate}}</p>
        </div>
        <div class="col-md-9 register-right">
            <form novalidate (ngSubmit)="register()" [formGroup]="userForm">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">{{'register.register' | translate}}</h3>
                        <div class="row register-form">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <input class="form-control" id="txtName" type="text"
                                        placeholder="{{'register.euname' | translate}} *" formControlName="username"
                                        [ngClass]="{
                                'is-invalid':
                                (userForm.get('username').touched || userForm.get('username').dirty) &&
                                !userForm.get('username').valid
                                }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="userForm.get('username').errors?.required">
                                            {{'register.peuname' | translate}}
                                        </span>
                                        <span *ngIf="userForm.get('username').errors?.minlength">
                                            {{'register.4uname' | translate}}
                                        </span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="password" type="password"
                                        placeholder="{{'register.epwd' | translate}}*" formControlName="password"
                                        [ngClass]="{
                                'is-invalid':
                                (userForm.get('password').touched || userForm.get('password').dirty) &&
                                !userForm.get('password').valid
                                }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="userForm.get('password').errors?.required">
                                            {{'register.pepwd' | translate}}
                                        </span>
                                        <span *ngIf="userForm.get('password').errors?.minlength">
                                            {{'register.4pwd' | translate}}
                                        </span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="confirmPassword" type="password"
                                        placeholder="{{'register.cpwd' | translate}}*" formControlName="confirmPassword"
                                        [ngClass]="{
                                    'is-invalid':
                                    (userForm.get('confirmPassword').touched || userForm.get('confirmPassword').dirty) &&
                                    !userForm.get('confirmPassword').valid
                                    }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="userForm.get('confirmPassword').errors?.required">
                                            {{'register.pcpwd' | translate}}
                                        </span>
                                        <span *ngIf="userForm.get('confirmPassword').errors?.minlength">
                                            {{'register.cp4' | translate}}
                                        </span>
                                        <span *ngIf="userForm.get('confirmPassword').errors?.mustMatch">
                                            {{'register.pmatch' | translate}}
                                        </span>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" id="pin" type="pin"
                                        placeholder="{{'register.epin' | translate}} *" formControlName="pin" [ngClass]="{
                                'is-invalid':
                                (userForm.get('pin').touched || userForm.get('pin').dirty) &&
                                !userForm.get('pin').valid
                                }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="userForm.get('pin').errors?.required">
                                            {{'register.pepin' | translate}}
                                        </span>
                                        <span *ngIf="userForm.get('pin').errors?.pattern">
                                            {{'register.pnum' | translate}}
                                        </span>
                                        <span
                                            *ngIf="userForm.get('pin').errors?.minlength || userForm.get('pin').errors?.maxlength">
                                            {{'register.pin6' | translate}}
                                        </span>

                                    </span>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" type="name"
                                        placeholder="{{'register.ename' | translate}} *" formControlName="name"
                                        [ngClass]="{
                                    'is-invalid':
                                    (userForm.get('name').touched || userForm.get('name').dirty) &&
                                    !userForm.get('name').valid
                                    }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="userForm.get('name').errors?.required">
                                            {{'register.pename' | translate}} </span>
                                        <span *ngIf="userForm.get('name').errors?.minlength">
                                            {{'register.name5' | translate}}
                                        </span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="email" type="email"
                                        placeholder="{{'register.eemail' | translate}}  *" formControlName="email"
                                        [ngClass]="{
                                'is-invalid':
                                (userForm.get('email').touched || userForm.get('email').dirty) &&
                                !userForm.get('email').valid
                                }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="userForm.get('email').errors?.required">
                                            {{'register.peemail' | translate}}
                                        </span>
                                        <span *ngIf="userForm.get('email').errors?.email">
                                            {{'register.vemail' | translate}}
                                        </span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="phoneNumber" type="phoneNumber"
                                        placeholder="{{'register.epn' | translate}} *" formControlName="phoneNumber"
                                        [ngClass]="{
                                'is-invalid':
                                (userForm.get('phoneNumber').touched || userForm.get('phoneNumber').dirty) &&
                                !userForm.get('phoneNumber').valid
                                }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="userForm.get('phoneNumber').errors?.required">
                                            {{'register.pepn' | translate}}
                                        </span>
                                        <span *ngIf="userForm.get('phoneNumber').errors?.pattern">
                                            {{'register.npn' | translate}}
                                        </span>
                                        <span
                                            *ngIf="userForm.get('phoneNumber').errors?.minlength || userForm.get('phoneNumber').errors?.maxlength">
                                            {{'register.p10' | translate}}
                                        </span>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" id="address" type="name"
                                        placeholder="{{'register.adrs' | translate}} *" formControlName="address"
                                        [ngClass]="{
                                'is-invalid':
                                (userForm.get('address').touched || userForm.get('address').dirty) &&
                                !userForm.get('address').valid
                                }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="userForm.get('address').errors?.required">
                                            {{'register.padrs' | translate}}
                                        </span>
                                        <span *ngIf="userForm.get('address').errors?.minlength">
                                            {{'register.adrs5' | translate}}
                                        </span>
                                    </span>
                                </div>
                                <button type="submit" (click)="redirectToLogin()" class="btnRegister"
                                    value="Cancel">{{'register.cancel' | translate}}</button>
                                <input [disabled]="!userForm.valid" type="submit" class="btnRegister"
                                    value="{{'register.rb' | translate}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>